html{
    background-color: cadetblue;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto',sans-serif;
    height: 1000px;
    width: 800px;
    background-color: white;
    margin: 0 auto;
}

h3{
    font-size: 20px;
    color: tomato;
    padding: 10px;
    border-bottom: 1px solid #afafaf;
}

table{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-collapse: collapse;
}

table thead td{
    padding: 5px;
    background-color: lightslategray;
    color: white;
    
}

table tbody td{
    padding: 5px;
}

table tbody tr:nth-child(even)
{
    background-color: rgb(229,231,233);
}

.edit,.delete {
    text-decoration: none;
    color: white;
    width: 50px;
    padding: 2px 10px 2px 10px;
    text-align: center;
    border-radius: 3px;
    background-color: blueviolet;
}

.delete{
    background-color: red;
}

p{
    text-align: right;
    padding: 5px;
    color: white;
    margin-left: 700px;
    padding: 2px 10px 2px 10px;
    background-color: blueviolet;
    
}